input {
  background: var(--speaker-background, #E8CD9A);
  color: var(--speaker-color, blue);
  padding: var(--speaker-padding, 5px);
  font-size: var(--speaker-font-size, medium);
  border: var(--speaker-border, 0);
  width: var(--speaker-width, 36px);
  height: var(--speaker-height, 36px);
}
