:host > svg {
  padding: var(--honey-speaker-padding, 5px);
  font-size: var(--honey-speaker-font-size, medium);
  border: var(--honey-speaker-border, 0);
  width: var(--honey-speaker-width, 36px);
  height: var(--honey-speaker-height, 36px);
}

:host > svg > path {
  stroke-width: 5;
}

.speakerimage {
  stroke: var(--honey-speaker-color, blue);
  fill: var(--honey-speaker-color, blue);
  background: var(--honey-speaker-background, transparent);
}

.speakerimage-disabled {
  stroke: var(--honey-disabled-color, gray);
  fill: var(--honey-disabled-color, gray);
  background: var(--honey-disabled-background, lightgrey);
  cursor: var(--honey-disabled-cursor, not-allowed);
}



